name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Clone down repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build and run tests
        run: mvn clean verify

      - name: Sonar Scan
        env:
         SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: mvn sonar:sonar -Dsonar.projectKey=AnnieeMD_Modern-DevOps-Practices -Dsonar.organization=anidermendzhieva -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=$SONAR_TOKEN
